## Section 3: Integral Types

### 3.1 Introduction:

Python provides two integral types: 

1. _int_
2. _bool_


* Both Integers and Booleans are immutable, but thanks to Python augmented assignment operator, this is barely noticeable. When used in Boolean expressions, 0 and False are False and any other integer and True are True.

* When used in numerical expressions, True evaluates to 1 and False evaluates to 0.

### 3.2 Integers 

Integer literals are written using base 10 (decimal) by default, but other number bases can be used when convenient:

In [15]:
14600926 ##Decimal

14600926

In [18]:
0b110111101100101011011110 ##binary

14600926

In [21]:
0o67545336 ##Octal

14600926

In [22]:
0xDECADE ##Hexadecimal

14600926

__Note:__ Binary numbers are written with a leading 0b, octal numbers with a leading 0o, and hexadecimal numbers with a leading 0x. Uppercase letters can also be used

### 3.3 Integer Numeric operators and Functions 

The following table shows some of the Numeric operators and functions available for Python integers:

<img src="Images/table2_1.png" align=left>

From the table above, we can see that: 

* All the usual mathematical functions and operators can be used with integers. 
    * Some of the functionality is provided by built-in functions such as abs(i)
    * Other functionality is provided by integer operators such as i+j

__Example:__ Consider using the round() function. This function is quite interesting given that it may behave differently given different input argument types:  

First, for floats the round() function behaves in the expected way, for example:

In [43]:
round(1.246, 2) ###Rounds to 1.25

1.25

For _ints_, the round() function used with a positive rounding _ndigits_ value has no effect and results in the same number being returned:

In [56]:
round(1228,0)

1228

Now if x has negative rounding _ndigits_, x is rounded to n integral digits, e.g.:

In [57]:
round(1228,-1) ###Rounds the nearest ten

1230

In [60]:
round(1228,-2) ##Rounds to the nearest hundred

1200

In [62]:
round(1228, -3) ##Rounds to the nearest thousand

1000

**Note**:All the binary numeric operations (+,-,*,/,//,% and ** ) have augmented assignment operators, consider the following examples:

In [65]:
x=1 
x+=1
print(x)

2

In [72]:
x=1 
x+=2
print(x)

3

In [73]:
x=1 
x-=2
print(x)

-1

In [74]:
x=1 
x*=2
print(x)

2

In [75]:
x=1 
x/=2
print(x)

0.5

In [77]:
x=1 
x//=2
print(x)

0

In [78]:
x=1
x%=2 
print(x)

1

**Note**: In general, *x=x op y* is logically equivalent to *x op = y*.

### 3.4 Integer Objects

Objects can be created in two ways:

1. By assigning literals to variables as in the following example:

In [83]:
x=17
print(x)

17

2. By calling the relevant data type as a function, for example one can only create a decimal.Decimal object by calling its data type since there it doesn't have a literal representation.<br><br>When an object is created by calling the relevant data type as a function there are three possible use cases:</br></br> 
           
      1. Calling a data type with no arguments  
      2. Calling a data type with a single argument   
      3. Calling a data type with two or more arguments

Let's explore each case with an appropiate example:

__A. Calling a data type with no arguments__:

In [82]:
x=int()
print(x)

0

<font color=green> __Effect:__ </font> Calling x = int() creates (ans assigns to x) an integer value of 0. All the built-in data types can be called with no arguments. 

__B. Calling a data type with a single argument__:

In [84]:
x=int(17)
print(x)

17

<font color=green> __Effect:__ </font> Calling x = int(17) creates (ans assigns to x) a shallow copy of the original object (17)is created. If the passed argument is of a different type, a conversion is attempted with two possible further effects:

   1. If the passed argument is of a type that supports the conversions to the given type and the conversion fails, a *Value Error* exception is raised.
   
   2. If the argument's data type does not support conversion to the given type a *Type Error* exception is raised.
   
The built-in _float_ and _str_ provide integer conversions. It is also possible to provide integer and other conversions for our own custom data types. 

__C. Calling a data type with two or more arguments__:

Not all types support this, and for those who do, their meanings vary. For example, for the _int_ type two arguments are permitted where the first is a string that represents an integer and the second is the number base of the string representation. Then:

In [88]:
x= int("A4",16)
print(x)

164

__Note:__ To convert from hexadecimal to int (Decimal) in this example we do the following: In hexadecimal 4 is equivalent to 4 in decimal and A is equivalent to 10 in decimal, then we multiply each hex value by 16 to the power of its position (counting from the left, and starting from 0) and thus:<br> 

$A4 = 10x16^1 + 4x16^0 = 160 + 4 =164 $

### 3.5 Other Integer Operators 

__Bitwise operators:__

  * All the bitwise operators (|, ^, &, << and >> ) have augmented assignment operators (=|, =^, =&, =<< and =>> ).
   
  * The method int.bit_length() returns the number of bits required to represent the the _int_ it was called on, e.g.:

In [91]:
(2146).bit_length() ##Parentheses required for literal integer but not for an integer variable

12

### 3.6 Booleans

__Summary:__

 * There are two types of Boolean objects: _True_ and _False_. 
 * Like all other Pytohn data types (built-in or custom), the _bool_ data type can be called as a function with all of the argument options as discussed before:
 
    1. With no arguments it returns _False_
    2. With one _bool_ argument it returns a copy of the argument and with any other argument type it attempts to convert the given object to a _bool_. 
    
__Note:__ All the built-in and cusotm datatypes can be converted to produce a Boolean value.

Let's see some Boolean assignments and expressions:

In [93]:
t= True
f= False 
print(t and False)
print(t and True)
print(f and False) 
print(f and True)

False
True
False
False

In [1]:
0.0,5.4,-2.5,8.9e-4

(0.0, 5.4, -2.5, 0.00089)